$color-white_1: #FCFBFD;
$color-white_2: #F2F2F2;
$color-white_3: #FFFFFF;
$color-white_4: #D7D4D4;
$color-white_5: #F8F1FF;
$color-grey_1: #8E8F90;
$color-blue_1: #1D62E8;
$color-blue_2: #145896;
$color-blue_3: #467EC7;
$color-dark-blue_1: #1A1939;
$color-violet_1: #7973E6;
$color-green_1: #117960;

