@import "_var.scss";
@import "_mixins.scss";
@import "_main.scss";

.title_text {
  @include font_48;
  color: $color-dark-blue_1;
}

.subtitle_text {
  @include font_24;
  color: $color-dark-blue_1;
}

.main_text {
  @include font_20;
  color: $color-dark-blue_1;
}

.header {
  background: $color-white_1;
  padding: 53px 0;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__link {
    @include font_18;
    text-transform: uppercase;
    color: $color-dark-blue_1;
    margin-right: 15px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    @include font_24;
  }

  &__dynamics:before {
    content: url("../images/Arrow.svg");
    margin-left: 10px;
  }
}

.dynamics__btc {
}

.dynamics__eth {
}

.dynamics__usdt {
}

.dynamics__bnb {
}

.dynamics__usdc {
}

.section__banner {
  margin: 61px 0 70px;

  &-content {
    background: url('../images/baner.png') center / contain no-repeat;
    height: 250px;
    width: 100%;
  }
}

.list-of-currencies {
  padding-top: 60px;
  padding-bottom: 130px;
  background: $color-white_1;
}

.currencies {
}

.currency {
  padding: 60px 144px 60px 113px;
  background: $color-white_5;
  box-shadow: 0 4px 20px rgba(194, 188, 198, 0.8);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &:hover {
    background: $color-white_5;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__title-wrap {
    margin-right: 20px;
  }

  &__title {
    @include font_32;
    color: $color-dark-blue_1;
    margin-bottom: 18px;
  }

  &__img {
    width: 100%;
  }

  &__info-wrap {
  }

  &__btn-wrap {
  }

  &__btn {
    @include font_18;
    border-radius: 10px;
    padding: 18px 95px 20px 95px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-white_1;
    background: $color-blue_1;

    &:hover {
      cursor: pointer;
    }
  }
}

.info {

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
    margin-right: 10px;
  }

  &__exchange:before {
    content: url("../images/currency_exchange.svg");
    margin-right: 10px;
  }

  &__rating:before {
    content: url("../images/chart_graph.svg");
    margin-right: 10px;
  }

  &__review:before {
    content: url("../images/bubble chat.svg");
    margin-right: 10px;
  }
}

.exchangers {
  padding: 60px 0 80px;
  background: $color-white_1;

  &__top {
    background: url('../images/change.png') right / auto no-repeat;
    margin-bottom: 130px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    max-width: 855px;
  }

  &__text:not(:last-child) {
    margin-bottom: 40px;
  }

  &__bottom {

    &-item:before {
      content: url("../images/approved_check.svg");
      margin-right: 10px;
    }

    & ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.comments {
  padding-top: 130px;
  padding-bottom: 130px;
  background: $color-white_4;

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__title {
    margin-right: 40px;
  }

  &__subtitle {
    margin-right: auto;
  }

  &__name-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__name {
    margin-right: 20px;
  }

  &__date {
    margin-right: 20px;
  }

  &__btn {
    @include font_18;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: $color-white_1;
    background: $color-blue_1;
    border-radius: 10px;
    padding: 18px 0 18px;
    width: 308px;
  }
}

.review {
  padding-bottom: 130px;
  background: $color-white_4;

  &__title {
    margin-bottom: 40px;
  }

  &__message {
    @include font_32;
    margin-bottom: 30px;
    text-align: center;
  }

  &__message_red {
    color: $color-red;
  }

  &__message_blue {
    color: $color-blue_1;
  }

  &__text {
  }

  & ul {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.stars {
  display: flex;
  align-items: center;

  &__item {
  }

  &__item:before {
    content: url("../images/Star-fill.svg");
    margin-right: 5px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__inp {
    margin-bottom: 30px;
    margin-top: 20px;
    background: $color-white_1;
    border-radius: 10px;
    width: 100%;
    height: 60px;

    &_red {
      border: 1px solid $color-red;
    }
  }

  &__textarea {
    height: 250px;
  }

  &__btn {
    @include font_18;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-white_1;
    background: $color-grey_1;
    border-radius: 10px;
    padding: 18px 0 18px;
    max-width: 308px;

    &_blue {
      background: $color-blue_1;
    }
  }
}

.disclaimer {
  background: $color-white_4;
  padding-bottom: 130px;

  &__title {
    margin-bottom: 40px;
  }

  &__text {
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 70px;
  background: $color-white_1;

  &__link {
    @include font_18;
    text-transform: uppercase;
    color: $color-dark-blue_1;
    margin-right: 15px;
  }

  &__info-block {
    margin-top: 34px;
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;

    & ul {
      padding: 10px 20px;
    }
  }
}


@media (max-width: 1190px) {
  .header {
    padding: 30px 0;

    &__link {
      margin-bottom: 30px;
      margin-right: 0;
    }
  }

  .list {
    flex-wrap: wrap;
    justify-content: flex-start;

    &__item {
      &:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    &__dynamics:before {
      content: url("../images/Arrow.svg");
      margin-left: 4px;
    }
  }

  .section__banner {
    margin: 0;

    &-content {
      margin: 0;
      height: 150px;
    }
  }

  .list-of-currencies {
    padding-top: 32px;
    padding-bottom: 60px;
  }

  .currencies {
  }

  .currency {
    padding: 30px;
    box-shadow: 0 4px 20px rgba(194, 188, 198, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &__title-wrap {
      margin-right: 20px;
    }

    &__title {
      @include font_32;
      margin-bottom: 18px;
    }

    &__info-wrap {
      display: flex;
      margin-top: 16px;
    }

    &__btn {
      padding: 15px 70px 16px 70px;
    }
  }



  .review {
    &__message {
      text-align: start;
    }
  }
}



@media (max-width: 768px) {
  .title_text {
    @include font_18_2;
  }

  .subtitle_text {
    @include font_15;
  }

  .main_text {
    @include font_10;
  }


  .header {
    padding: 8px 0;

    &__link {
      margin-bottom: 15px;
      @include font_8;
      margin-right: auto;
    }
  }

  .list {
    flex-wrap: nowrap;
    justify-content: space-between;

    &__item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__link {
      @include font_8;
    }

    &__dynamics:before {
      content: url("../images/Arrow_mobile.svg");
      margin-left: 4px;
    }
  }

  .section__banner {
    &-content {
      height: 56px;
    }
  }

  .list-of-currencies {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .currency {
    padding: 8px;
    box-shadow: 0 0.901169px 4.50585px rgba(194, 188, 198, 0.8);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &__title-wrap {
      grid-column: 1 / 7;
      margin-right: 4px;
    }

    &__title {
      @include font_16;
      margin-bottom: 8px;
    }

    &__img {
      height: 126px;
    }

    &__info-wrap {
      grid-column: 7 / -1;
      flex-direction: column;
    }

    &__btn-wrap {
      grid-column: 7 / -1;
    }

    &__btn {
      @include font_10;
      border-radius: 4px;
      padding: 10px 27px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .info {

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      margin-right: 0;
    }

    &__exchange:before {
      content: '';
      background-image: url("../images/currency_exchange.svg");
      width: 18px;
      height: 18px;
      margin-right: 4px;
      background-size: cover;
    }

    &__rating:before {
      content: '';
      background-image: url("../images/chart_graph.svg");
      width: 18px;
      height: 18px;
      margin-right: 4px;
      background-size: cover;
    }

    &__review:before {
      content: '';
      background-image: url("../images/bubble chat.svg");
      width: 18px;
      height: 18px;
      margin-right: 4px;
      background-size: cover;
    }
  }

  .exchangers {
    padding: 8px 0 10px;

    &__top {
      background: url('../images/change.png') right / auto no-repeat;
      background-size: 50%;
      margin-bottom: 32px;
    }

    &__title {
      margin-bottom: 8px;
    }

    &__text {
      max-width: 100%;
    }

    &__text:not(:last-child) {
      margin-bottom: 8px;
    }

    &__bottom {
      &-item {
        margin-bottom: 9px;
      }

      &-item:before {
        content: '';
        background-image: url("../images/approved_check.svg");
        width: 18px;
        height: 18px;
        margin-right: 6px;
        background-size: cover;
      }

      & ul {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .comments {
    padding-top: 30px;
    padding-bottom: 32px;

    &__title-wrap {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      align-items: start;
    }

    &__title {
      margin-right: 0;
      margin-bottom: 16px;
      grid-column: 0 / 1;
    }

    &__subtitle {
      margin-right: 0;
      grid-column: 0 / 2;
    }

    &__btn {
    }

    &__name-wrap {
      margin-top: 18px;
      margin-bottom: 4px;
    }

    &__name {
      margin-right: 4px;
    }

    &__date {
      margin-right: auto;
    }

    &__btn {
      @include font_10;
      border-radius: 4px;
      padding: 10px 7px;
      width: 153px;
    }
  }

  .review {
    padding-bottom: 30px;

    &__title {
      margin-bottom: 8px;
    }

    &__message {
      @include font_16;
      margin-bottom: 8px;
    }

    & ul {
      margin-top: 4px;
      margin-bottom: 8px;
    }
  }

  .form {
    &__inp {
      margin-top: 4px;
      margin-bottom: 8px;
      border-radius: 4px;
      width: 100%;
      height: 30px;
    }

    &__textarea {
      height: 120px;
    }

    &__btn {
      @include font_10;
      border-radius: 4px;
      padding: 10px 8px;
      max-width: 153px;
    }
  }

  .disclaimer {
    padding-bottom: 30px;

    &__title {
      margin-bottom: 8px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 32px;

    &__link {
      @include font_10;
      margin-right: 15px;
    }

    &__info-block {
      margin-top: 24px;
      margin-bottom: 8px;
      flex-direction: column;
      justify-content: space-between;

      & ul {
        padding: 10px 0;
      }
    }
  }
}