@charset "UTF-8";
/* Обнуление */
*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "News Cycle", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

/*-------------------*/
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 118px;
}

@media (max-width: 1190px) {
  .container {
    max-width: 704px;
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 343px; /* padding: 0 calc(50% - 343px / 2); */
    padding: 0;
  }
}
.title_text {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #1A1939;
}

.subtitle_text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1A1939;
}

.main_text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #1A1939;
}

.header {
  background: #FCFBFD;
  padding: 53px 0;
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header__link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1A1939;
  margin-right: 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list__item:not(:last-child) {
  margin-right: 40px;
}
.list__link {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.list__dynamics:before {
  content: url("../images/Arrow.svg");
  margin-left: 10px;
}

.section__banner {
  margin: 61px 0 70px;
}
.section__banner-content {
  background: url("../images/baner.png") center/contain no-repeat;
  height: 250px;
  width: 100%;
}

.list-of-currencies {
  padding-top: 60px;
  padding-bottom: 130px;
  background: #FCFBFD;
}

.currency {
  padding: 60px 144px 60px 113px;
  background: #F8F1FF;
  box-shadow: 0 4px 20px rgba(194, 188, 198, 0.8);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.currency:hover {
  background: #F8F1FF;
}
.currency:not(:last-child) {
  margin-bottom: 40px;
}
.currency__title-wrap {
  margin-right: 20px;
}
.currency__title {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #1A1939;
  margin-bottom: 18px;
}
.currency__img {
  width: 100%;
}
.currency__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border-radius: 10px;
  padding: 18px 95px 20px 95px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FCFBFD;
  background: #1D62E8;
}
.currency__btn:hover {
  cursor: pointer;
}

.info__item {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  margin-right: 10px;
}
.info__exchange:before {
  content: url("../images/currency_exchange.svg");
  margin-right: 10px;
}
.info__rating:before {
  content: url("../images/chart_graph.svg");
  margin-right: 10px;
}
.info__review:before {
  content: url("../images/bubble chat.svg");
  margin-right: 10px;
}

.exchangers {
  padding: 60px 0 80px;
  background: #FCFBFD;
}
.exchangers__top {
  background: url("../images/change.png") right/auto no-repeat;
  margin-bottom: 130px;
}
.exchangers__title {
  margin-bottom: 40px;
}
.exchangers__text {
  max-width: 855px;
}
.exchangers__text:not(:last-child) {
  margin-bottom: 40px;
}
.exchangers__bottom-item:before {
  content: url("../images/approved_check.svg");
  margin-right: 10px;
}
.exchangers__bottom ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.comments {
  padding-top: 130px;
  padding-bottom: 130px;
  background: #D7D4D4;
}
.comments__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.comments__title {
  margin-right: 40px;
}
.comments__subtitle {
  margin-right: auto;
}
.comments__name-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.comments__name {
  margin-right: 20px;
}
.comments__date {
  margin-right: 20px;
}
.comments__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FCFBFD;
  background: #1D62E8;
  border-radius: 10px;
  padding: 18px 0 18px;
  width: 308px;
}

.review {
  padding-bottom: 130px;
  background: #D7D4D4;
}
.review__title {
  margin-bottom: 40px;
}
.review__message {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 30px;
  text-align: center;
}
.review__message_red {
  color: #D82B2B;
}
.review__message_blue {
  color: #1D62E8;
}
.review ul {
  margin-top: 20px;
  margin-bottom: 30px;
}

.stars {
  display: flex;
  align-items: center;
}
.stars__item:before {
  content: url("../images/Star-fill.svg");
  margin-right: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__inp {
  margin-bottom: 30px;
  margin-top: 20px;
  background: #FCFBFD;
  border-radius: 10px;
  width: 100%;
  height: 60px;
}
.form__inp_red {
  border: 1px solid #D82B2B;
}
.form__textarea {
  height: 250px;
}
.form__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #FCFBFD;
  background: #8E8F90;
  border-radius: 10px;
  padding: 18px 0 18px;
  max-width: 308px;
}
.form__btn_blue {
  background: #1D62E8;
}

.disclaimer {
  background: #D7D4D4;
  padding-bottom: 130px;
}
.disclaimer__title {
  margin-bottom: 40px;
}
.footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 70px;
  background: #FCFBFD;
}
.footer__link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1A1939;
  margin-right: 15px;
}
.footer__info-block {
  margin-top: 34px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
}
.footer__info-block ul {
  padding: 10px 20px;
}

@media (max-width: 1190px) {
  .header {
    padding: 30px 0;
  }
  .header__link {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .list__item:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .list__dynamics:before {
    content: url("../images/Arrow.svg");
    margin-left: 4px;
  }
  .section__banner {
    margin: 0;
  }
  .section__banner-content {
    margin: 0;
    height: 150px;
  }
  .list-of-currencies {
    padding-top: 32px;
    padding-bottom: 60px;
  }
  .currency {
    padding: 30px;
    box-shadow: 0 4px 20px rgba(194, 188, 198, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .currency:not(:last-child) {
    margin-bottom: 20px;
  }
  .currency__title-wrap {
    margin-right: 20px;
  }
  .currency__title {
    font-family: "Russo One";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 18px;
  }
  .currency__info-wrap {
    display: flex;
    margin-top: 16px;
  }
  .currency__btn {
    padding: 15px 70px 16px 70px;
  }
  .review__message {
    text-align: start;
  }
}
@media (max-width: 768px) {
  .title_text {
    font-family: "Russo One";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
  .subtitle_text {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
  }
  .main_text {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
  }
  .header {
    padding: 8px 0;
  }
  .header__link {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 13px;
    margin-right: auto;
  }
  .list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .list__item:not(:last-child) {
    margin-right: 10px;
  }
  .list__link {
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 13px;
  }
  .list__dynamics:before {
    content: url("../images/Arrow_mobile.svg");
    margin-left: 4px;
  }
  .section__banner-content {
    height: 56px;
  }
  .list-of-currencies {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .currency {
    padding: 8px;
    box-shadow: 0 0.901169px 4.50585px rgba(194, 188, 198, 0.8);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .currency:not(:last-child) {
    margin-bottom: 8px;
  }
  .currency__title-wrap {
    grid-column: 1/7;
    margin-right: 4px;
  }
  .currency__title {
    font-family: "Russo One";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .currency__img {
    height: 126px;
  }
  .currency__info-wrap {
    grid-column: 7/-1;
    flex-direction: column;
  }
  .currency__btn-wrap {
    grid-column: 7/-1;
  }
  .currency__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    border-radius: 4px;
    padding: 10px 27px;
  }
  .currency__btn:hover {
    cursor: pointer;
  }
  .info__item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-right: 0;
  }
  .info__exchange:before {
    content: "";
    background-image: url("../images/currency_exchange.svg");
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background-size: cover;
  }
  .info__rating:before {
    content: "";
    background-image: url("../images/chart_graph.svg");
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background-size: cover;
  }
  .info__review:before {
    content: "";
    background-image: url("../images/bubble chat.svg");
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background-size: cover;
  }
  .exchangers {
    padding: 8px 0 10px;
  }
  .exchangers__top {
    background: url("../images/change.png") right/auto no-repeat;
    background-size: 50%;
    margin-bottom: 32px;
  }
  .exchangers__title {
    margin-bottom: 8px;
  }
  .exchangers__text {
    max-width: 100%;
  }
  .exchangers__text:not(:last-child) {
    margin-bottom: 8px;
  }
  .exchangers__bottom-item {
    margin-bottom: 9px;
  }
  .exchangers__bottom-item:before {
    content: "";
    background-image: url("../images/approved_check.svg");
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background-size: cover;
  }
  .exchangers__bottom ul {
    display: flex;
    flex-direction: column;
  }
  .comments {
    padding-top: 30px;
    padding-bottom: 32px;
  }
  .comments__title-wrap {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
  }
  .comments__title {
    margin-right: 0;
    margin-bottom: 16px;
    grid-column: 0/1;
  }
  .comments__subtitle {
    margin-right: 0;
    grid-column: 0/2;
  }
  .comments__name-wrap {
    margin-top: 18px;
    margin-bottom: 4px;
  }
  .comments__name {
    margin-right: 4px;
  }
  .comments__date {
    margin-right: auto;
  }
  .comments__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    border-radius: 4px;
    padding: 10px 7px;
    width: 153px;
  }
  .review {
    padding-bottom: 30px;
  }
  .review__title {
    margin-bottom: 8px;
  }
  .review__message {
    font-family: "Russo One";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .review ul {
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .form__inp {
    margin-top: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    width: 100%;
    height: 30px;
  }
  .form__textarea {
    height: 120px;
  }
  .form__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    border-radius: 4px;
    padding: 10px 8px;
    max-width: 153px;
  }
  .disclaimer {
    padding-bottom: 30px;
  }
  .disclaimer__title {
    margin-bottom: 8px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 32px;
  }
  .footer__link {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    margin-right: 15px;
  }
  .footer__info-block {
    margin-top: 24px;
    margin-bottom: 8px;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__info-block ul {
    padding: 10px 0;
  }
}

/*# sourceMappingURL=style.css.map */
